<div class="header">
  <span class="mask"></span>
  <div class='title'>
    <a href="#set">
      <i class="fa-angle-left left fa"></i>
    </a>
    关于我们
  </div> 
</div>
<div class="main-content">
  <my-iscroll>
  <div class="pin" style="padding:10px; ">
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp; 爱旅行<a href="http://www.ilvxing.com"> (www.ilvxing.com) </a>是国内第一家提供限时特价旅游产品的网络平台，其产品包括旅游套餐，折扣机票，度假酒店。爱旅行通过分布在全国的1000多家供应商，第一时间为用户提供全球100多个国家与地区超过5000条的精品特价旅游线路。未来我们将致力于成为国内最大的旅游度假平台，为不同需求的用户提供专业、及时、高效的旅游度假服务。
    </p>

    <p>
      选择爱旅行的理由
    </p>
    <p><span class="orange">精选行程：</span>独特的产品质量筛选体系，保证了爱旅行的每一条度假产品的品质。</p>
    <p><span class="orange">说走就走：</span>我们所售80%产品均为2-10天之内出发。繁杂的签证手续我们来办，背上行囊、说走就走。</p>
    <p><span class="orange">多重保障：</span>爱旅行所有度假产品均为全资质的国际旅行社提供服务, 爱旅行并对所有客户的售中、售后跟踪服务及质检，旅途中出现任何质量问题我们帮您维权到底，使您的权益得到切实保障。</p>
    <p><span class="orange">爱旅行 ~ 给你一次说走就走的旅行！</span></p>
  </div>
  </my-iscroll>
</div>
