<div class="header">
  <span class="mask"></span>
  <div class='title'>
    <i class="fa-angle-left left fa" my-back></i>
    忘记密码
  </div> 
</div>

<form  style="padding:5%" name="form" >
  <div style="background:#fff; ">
    <input type="text" ng-model='user.verify' name="verify" class="form-control big" placeholder="请输入手机收到的四位验证码" ng-pattern='/^\d{4}$/' required >
    <input type="password" ng-model='user.pwd' name="pwd" class="form-control big" placeholder="请输入新密码" required >
    <input type="password" ng-model='user.comfirmPwd' name="comfirmPwd" class="form-control big" placeholder="请输入确认新密码" required >

    <span class="orange" ng-show="form.verify.$error.pattern">验证码格式不对</span>
    <span class="orange" ng-show="!status" ng-bind='msg'> </span>
  </div>
  <button type="button" ng-click="getPwd()" ng-disabled='!form.$valid' class="btn big" style="width:100%; margin-top:5%;">确定</button>
  <a href='' class="btn btn-link">重新获取验证码</a>
</form>

