<div class="header">
  <span class="mask"></span>
  <div class='title'>
    <i class="fa-angle-left left fa" my-back></i>
    忘记密码
  </div> 
</div>

<form style="padding:5%" name="form" >
  <div style="background:#fff; ">
    <input type="text" ng-model='user.tel' name="tel" class="form-control big" placeholder="请输入你的手机号码"
    ng-pattern='/^1\d{10}$/' required >
    <span class="orange" ng-show="form.tel.$error.pattern"> 手机号码格式不对!</span>
    <span class="orange" ng-show="!status" ng-bind='msg'> </span>
  </div>
  <button type="button" ng-click="nextStep()" ng-disabled='!form.$valid' class="btn  big" style="width:100%; margin-top:5%;">下一步</button>
</form>

