<div class="header">
  <span class="mask"></span>
  <div class='title'>
    <a href="#set">
      <i class="fa-angle-left left fa"></i>
    </a>
    我的订单
    <a href="#products">
      <i class="fa fa-home right" ></i>
    </a>
  </div> 
</div>

<div style='padding:5%; '>
  <ul class='simple-list' >
    <li>
      <a href="#orders?order=0">
        <span> 全部订单 </span>
        <i class="fa-angle-right fa fs-i pull-right"></i>
      </a>
    </li>
    <li>
      <a href="#orders?order=1">
        <span>已付款订单</span>
        <i class="fa-angle-right fa fs-i pull-right"></i>
      </a>
    </li>
    <li>
      <a href="#orders?order=2">
        <span>未付款订单</span>
        <i class="fa-angle-right fa  fs-i pull-right"></i>
      </a>
    </li>
  </ul>
</div>
