<div class="header">
  <span class="mask"></span>
  <div class='title'>
    <a href="#set">
      <i class="fa-angle-left left fa"></i>
    </a>
    个人中心
    <a href="#products">
      <i class="fa fa-home right" ></i>
    </a>
  </div> 
</div>

<div  style="padding: 5%; ">
  <ul class='simple-list'>
    <li>
      <a href="#base">
        <span> 基本信息 </span>
        <i class="fa-angle-right fs-i fa pull-right"></i>
      </a>
    </li>
    <li>
      <a href="#set/myOrders">
        <span>我的订单</span>
        <i class="fa-angle-right fs-i fa pull-right"></i>
      </a>
    </li>
    <li>
      <a href="">
        <span>我的订阅</span>
        <i class="fa-angle-right fs-i fa pull-right"></i>
      </a>
    </li>
  </ul>
  <button type="button" ng-click="cancel()"  class="btn big" style="width:100%; margin-top:5%;">退出</button>
</div>
