<div class="header">
  <span class="mask"></span>
  <div class='title'>
    <a href="#products">
      <i class="fa-angle-left left fa"></i>
    </a>
    设置中心
  </div> 
</div>

<div id="set"  style="padding: 5%; ">
  <ul class='simple-list' style=''>
    <li>
      <a href="#login">
        <i class="fa-user light-blue fa mr-5"></i>
        <span> 我的账号 </span>
      </a>
    </li>
    <li>
      <a href="#set/quickLogin">
        <i class="fa fa-file light-blue mr-5"></i>
        <span>我的订单</span>
      </a>
    </li>
    <li>
      <a href="#set/about">
        <i class="fa fa-th-large light-blue mr-5"></i>
        <span>关于我们</span>
      </a>
    </li>
  </ul>
</div>
